*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url("img/Head.jpg.jpg");
    background-size: cover;
    background-position:center ;
    position: relative;
    overflow:scroll ;
    background-attachment: fixed;
}

.logo{
    /* margin-top: 20px; */
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
}

#nav{
    width: 85%;
    /* height: 15%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2%;
    position: fixed;
    top: 0;
    margin-left: 8%;
    margin-top: 20px;
}

#nav h1{
    font-style: italic;
    font-family: cursive;
    font-size: 65px;
    text-align: center;
    margin-bottom: 30px;
    padding: 10px;
}
#Head button{
    color: black;
    padding: 15px 25px;
    background: transparent;
    border: 3px solid;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 16px;
}

#nav a{
    color: black;
}

#main-container {
    margin:300px 8%;
    background-color: white;
    padding: 30px 70px;
    border-radius: 15px;
}

#card{
    display: flex;
    justify-content: space-around;
    border : solid 1px rgb(194, 191, 191);
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 100px;
}

#card select{
        appearance: none;
        background-color: transparent;
        border: none;
        padding: 5px 1em 5px 0;
        margin: 0;
        width: 100%;
        font-family: inherit;
        font-size:40px ;
        font-weight: 700;
        cursor: pointer;
}

.form{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 15px;
    border : solid 1px rgb(194, 191, 191);
    padding-right: 260px;
    padding-left: 100px;

}

.app-form-group {
    margin-bottom: 15px;
  }

.app-form-control {
    width: 400px;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 2px solid rgb(214, 208, 208);
    color: black;
    font-size: 20px;
    outline: none;
}
  
.app-form-control::placeholder {
    color: #666;
}
  
.app-form-control:focus {
    border-bottom-color: black;
}

.app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
    margin-top: 40px;
}

.flex {
    display: flex;
    justify-content: space-between;
    color:#666 ;
    font-size: 20px;
    font-weight: normal ;
}

input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:#ecf0f1;
    padding:5px;
    display: inline-block;
    visibility: visible ;
}
 
.form h1{
    font-size: 56px;
    color:#666;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}